<form class="form-inline" ng-submit="addJob()" ng-init="refresh()">
  <div class="form-group">
    <!-- <label for="new_job">Name</label> -->
    <input type="text" class="form-control" id="new_job" placeholder="Add a Job" ng-model="newjob.name">
  </div>
  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
</form>

<ul class="list-group">
  <li class="list-group-item" ng-repeat="job in jobs">{{ job.name }}<span class="badge">{{ statuses[job.status_id] }}</span></li>
</ul>
