<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <input type="text" class="form-control" id="new_job" placeholder="Add a Job" ng-model="job.name" on-enter="addJob()">
  </div>
  <div class="col-md-2"></div>
</div>

<hr>

<table class="table table-hover">
  <tr>
    <th class="">Job</th>
    <th class="text-center">Status</th>
    <th class="text-center">Weight</th>
  </tr>
  <tr ng-repeat="job in jobs">
    <td class="" editable-text="job.name" onaftersave="updateJobName(job, $data)">
      {{ job.name }}
    </td>
    <td class="text-center">
      <job-status class=""></job-status>
    </td>
    <td class="text-center">
      <div class="job-status" ng-mouseenter="showWeights=true" ng-mouseleave="showWeights=false">
        <span ng-hide="showWeights">
          {{ job.weight || 0 }}
        </span>
        <div class="" ng-show="showWeights">
          <div class="btn-group btn-group-xs" role="group" aria-label="job-weight" style="position: absolute;margin-left: -2.5em;">
            <button ng-repeat="weight in weights" type="button" class="btn btn-default" ng-click="job.weight = weight;updateJob(job);">{{ weight }}</button>
          </div>
        </div>
      </div>
    </td>
  </tr>
</table>
